<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.inventory">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/udacity_inventory_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/udacity_inventory_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CatalogActivity"
            android:label="Inventory">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditorActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="Add/Update Product"/>

        <provider
            android:name=".data.ProductProvider"
            android:authorities="com.udacity.inventory"
            android:exported="false" />
    </application>

</manifest>